*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: white;
}
header img{
    width: 95px ;
    height: 45px;
}
nav ul{
    display: flex;
    gap: 32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: arial;
}
.btn{
    padding: 8px 10px;
    font-size:14.5px;
    color: white;
    background-color:rgba(25, 193, 25, 0.948);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.btn:hover{
    color: white;
    background: rgba(0, 0, 0, 0.538);

}

/* banner */
#banner{
    min-height: 100vh;
    text-align: center;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    padding-top: 150px;
}
.banner-text .btn-banner{
    padding: 4px 12px;
    color:rgba(25, 193, 25, 0.948) ;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 13px;
}
.btn-banner i{
    /* text-align: center; */
    margin-bottom: 3px;
    font-size: 8px;
    margin-right: 3px;
}
.banner-text h1{
    font-size: 47px;
    padding: 3px 0;
    color: white;
}
.banner-text .head-1{
    color: rgba(25, 193, 25, 0.948);
}
.banner-text p{
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hero-btn .btn{
    transition: .4s ease-in-out;
    margin-right: 10px;
    background-color:  rgba(25, 193, 25, 0.24);
    
}
.hero-btn .btn:hover{
    color: white;
    padding: 7px 10px;
    background: transparent;
    border: 1px solid white;
}
.hero-btn .btn-1{
    padding: 8px 10px;
    font-size:14.5px;
    color: white;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.hero-btn .btn-1:hover{
    background-color:  rgba(25, 193, 25, 0.24);
}
/* card section */
.card-container{
    padding: 0px 70px;
}

.card-container .card-head{
    text-align: center;
    margin-top: 70px;
}
.card-head h1{

    font-size: 40px;
}
.card-head p{
    color:  rgba(0, 0, 0, 0.649);
    font-size: 15px;
    margin-top: 10px;
}
.main-card{
    padding-bottom:130px ;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-1{
    /* margin-top: 20px; */
    text-align: center;
    height: 210px;
    width: 240px;
    background:rgba(242, 239, 239, 0.754);
}
.card-1 img{
    color: white;
    background-color: orangered;
    padding: 7px 7px;
    border-radius: 50%;
    margin-top: 25px;
}
.card-1 h3{
    margin-top: 8px;
}
.card-1 p{
    margin-top: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.649);
}

/* the solution */
.solution-container{
    gap: 40px;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.solution-img img{
    height: 450px;
    width: 450px;
}
.solution-text h3{
    font-size: 15px;
    color: rgba(25, 193, 25, 0.948);
    margin-bottom: 10px;
}
.solution-text h1{
    font-size: 40px;
}
.solution-text p{
    margin-top: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.649) ;
}
.paragraph{
    margin-top: 30px;
}
.paragraph p img{
   margin-top: 10px; 
  width: 15px;
  height: 15px;
}
.paragraph p{
    margin-top: 7px;
    font-size: 15px;
    color: black ;
    font-weight: 550;
}

/* last */

.last-container{
    text-align: center;
    /* background: aqua; */
    padding: 40px 40px;
    height: 300px;
    
}
.last-text{
    background: rgba(0, 0, 0, 0.103);
    padding: 70px 50px;
    height: 280px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.last-text h1{
    font-size:35px ;
    margin-bottom: 10px;
}
.last-text p{
    font-size: 15px;
    color:rgba(0, 0, 0, 0.649) ;
    margin-bottom: 15px;
}
.last-text .btn{
    margin-bottom: 15px;
}
.last-text h3{
    font-size: 13px;
    color:rgba(0, 0, 0, 0.649) ;
}

/* footer */
.footer{
     background: #000000; 
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:70px 50px;
}
.footer-text{
    margin-right: 130px;
}
.footer-text a{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.666);
    text-decoration: none;
}
.footer-icon a i{
    font-size: 18px;
    color: white;
    margin-left: 5px;
    margin-top: 8px;
}
a .footer-an{
    margin-right: 40px;
}
.footer-last-text {
    padding: 0 60px;
}
.footer-last-text p{
    color: rgb(116, 147, 162);
    text-align: center;
    padding: 25px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}